body {
    background-color:  hsl(30, 54%, 90%);
}
p, .section li, span, tr {
    font-size: 13px;
    padding: 2px;
    color: rgb(121, 112, 112);
    font-family: "Outfit", serif;
    letter-spacing: 0.5;
}
main li {
    font-size: 13px;
    font-family: "Outfit", serif;
    letter-spacing: 0.5;
    color: rgb(121, 112, 112);
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 7px;
}
main ul, ol {
    border-bottom: 1px solid rgb(240, 237, 237);
    padding-bottom: 20px;
    padding-left: 15px;
}
h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 25px;
}
.recipe {
    background-color: white;
    margin: 90px auto;
    max-width: 500px;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.section {
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    border-radius: 10px;
}
li::marker, td {
    color: hsl(332, 51%, 32%);
    font-weight: 800;
}
.section h2 {
    font-size: 18px;
}
h2 {
    color: hsl(332, 51%, 32%);
    font-size: 20px;
}
p {
    margin-top: 0;
    padding: 0;
}
.nutrition table {
    border-collapse: collapse;
    width: 100%;
}
.nutrition table tr {
    border-bottom: 1px solid rgb(240, 237, 237);
}
.nutrition table th,
.nutrition table td {
    text-align: left;
    padding: 0.5rem 2rem;
}
th {
    font-weight: normal;
}
.nutrition table .last {
    border-bottom: none;
}
footer {
    text-align: center;
    font-size: 12px;
}